html,
body {
  margin:0;
  padding:0;
}
:root{
  font-size:16px;
}
.item1{
  grid-area: header;
}
.item2{
  grid-area: menu;
}
.item3{
  grid-area: main;
}
.item4{
  grid-area: right;
}
.item5{
  grid-area: footer;
}
.grid-container{
  display:grid;
  grid-template-areas:
    'header header header header'
    'menu main main right'
    'footer footer footer footer';
  background-color:blue;
  gap:1em;
  padding:1em;
  justify-items:auto;
  text-align: center;
}
.grid-container>div{
  background-color:aqua;
  texte-align:center;
  padding:1em 0;
font-size:30px;
  border:1px solid black;
}
.img1{
  width:40%;
  height:40%;
float: right-center;
}
.img2{
  width:20%;
  height:20%;
float: left-center;
}
.img3{
  width:20%;
  height:20%;
float:center;
}
.img4{
  width:20%;
  height:20%;
float: center;
}
.img5{
  width:20%;
  height:20%;
}